/* autoprefixer grid: autoplace */

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  // --font-family: 'HelveticaNeueCyr', sans-serif;
  // --second-family: 'Baskerville Cyrillic LT Std', sans-serif;
  // --third-family: 'Georgia', sans-serif;
  // --font3: 'Vauxhall Neue', sans-serif;
  // --font4: 'Proxima Nova', sans-serif;
  // --font5: 'Geologica', sans-serif;
  // --font6: 'Montserrat', sans-serif;

  --bg-color: #ffffff;

  --green-light: #5cd034;
  --blue-light: #039df7;
  --green-dark: #24a322;
  --blue-dark: #00568b;
  --orange-light: #fbd62f;
  --orange-dark: #fbb107;
  --font: #7c7c80;
  --font-black: #1d1d1f;
  --font-grey: #8e8e93;
  --font-dark-greq: #6c6c70;
  --purple: #5e5be6;

  --green-gradient: linear-gradient(90deg, #51b82d 1.54%, #007000 100%);
}

// Сброс стандартных стилей браузера
// @import './base/fonts.scss';

@import './base/null.scss';

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--font);
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*='__container'] {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 1280px;
  // padding: 0 64px;
}

// Общие стили
.grid-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.title-main-page {
  font-family: var(--second-family);
  font-size: 58px;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -1.16px;

  background: var(--green-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: #2c2c2e;
  }

  &_white {
    color: #fff;
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
  }

  &_white-orange {
    color: #fff;
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;

    span {
      color: orange;
      background: none;
      background-clip: initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
    }
  }

  &_subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.8px;
  }
}

.text-main-page {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: -0.64px;
  color: var(--font-black);

  &_white {
    color: #fff;
  }
}

.main-link-arrow {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.34px;
  color: var(--green-dark);
  transition: all 0.3s ease 0s;

  display: flex;
  align-items: center;

  svg {
    margin-left: 5px !important;
    vertical-align: middle !important;
    transition: all 0.3s ease 0s;
    transform: translate(0);
  }

  &:hover {
    svg {
      transform: translate(5px);
    }
  }

  &_blue {
    color: var(--blue-dark);
  }

  &_white {
    color: #fff;
  }

  &_second {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.05; /* 105.556% */
    letter-spacing: -0.36px;
  }

  &_small {
  }
}
