.button {
  padding: 0 20px;
  height: 35px;
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 500;
  line-height: 2.69; /* 269.231% */
  letter-spacing: -0.52px;
  color: #fff;
  background-color: var(--green-dark);
  border-radius: 50px;

  &_border {
    color: var(--green-dark);
    background-color: #fff;
    border: 2px solid var(--green-dark);
  }
}
