.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  // background-color: rgba(0, 0, 0, 0.6);
  // background-color: rgba(0, 0, 0, 0);
  // background: #222222;
  // opacity: 0;

  padding: 24px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  // transition: opacity 0.4s ease 0s;

  // &_active {
  //   opacity: 0.6;
  //   // background-color: rgba(0, 0, 0, 0);
  //   // background-color: rgba(0, 0, 0, 0.6);
  // }

  // animation-duration: 400ms;
  // animation-iteration-count: 1;
  // animation-fill-mode: both;
  // animation-name: overlayOpenAnimatin;

  &_open {
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: overlayOpenAnimatin;
  }

  &_close {
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: overlayCloseAnimatin;
  }

  @media (min-width: 744.98px) and (min-height: 475.98px) {
    padding: 40px;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--font-dark-grey);

  svg {
    flex: 0 0 10px;
    width: 10px;
    height: 10px;
  }
}

.content {
  position: relative;
  z-index: 10;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px 0 50px;
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  max-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;

  // animation-duration: 400ms;
  // animation-iteration-count: 1;
  // animation-fill-mode: both;
  // animation-name: contentOpenAnimatin;

  &_open {
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: contentOpenAnimatin;
  }

  @media (min-width: 744.98px) {
    height: auto;
    width: 100%;
    max-width: 750px;
  }

  &_close {
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: contentCloseAnimatin;
  }

  &_width-big {
    max-width: 1235px;
  }

  // opacity: 0;
  // transform: translate(0, 100%);
  // transition: all 0.4s ease 0s;

  // &_active {
  //   opacity: 1;
  //   transform: none;
  // }
}

.body {
  overflow-y: auto;
}

@keyframes overlayOpenAnimatin {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes overlayCloseAnimatin {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes contentOpenAnimatin {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes contentCloseAnimatin {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate(0, 100%);
  }
}
