.catalog-experts {
  padding: 51px 0 66px;
  // .catalog-experts__container-box

  &__container-box {
    max-width: 1120px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
  }

  // .catalog-experts__header

  &__header {
    margin-bottom: 34px;
  }

  // .catalog-experts__for-text

  &__for-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 300%; /* 300% */
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: var(--font-black);
  }

  // .catalog-experts__title

  &__title {
    font-family: var(--second-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 100%; /* 100% */
    letter-spacing: -0.8px;
    color: var(--font-black);
  }

  // .catalog-experts__items

  &__items {
    display: flex;
    column-gap: 30px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
  }

  // .catalog-experts__column-filters

  &__column-filters {
    flex: 0 0 25%;
  }

  // .catalog-experts__column-list

  &__column-list {
    flex: 1 1 auto;
    // max-width: 75%;
  }
}

.experts-filters {
  // .experts-filters__top

  &__top {
    padding: 55px 0;
    border: 1px solid #dbdbdb;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .experts-filters__user-image

  &__user-image {
    margin-bottom: 25px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .experts-filters__user-name

  &__user-name {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.05; /* 105.263% */
    letter-spacing: -0.76px;
    color: var(--font-black);
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  // .experts-filters__user-role

  &__user-role {
    color: var(--font-grey);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
    letter-spacing: -0.52px;
  }

  // .experts-filters__user-office

  &__user-office {
    margin-top: 9px;
    display: flex;
    align-items: center;

    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    color: var(--green-dark);

    svg {
      margin-left: 5px;
      width: 10px !important;
      height: 10px !important;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // .experts-filters__experience

  &__experience {
    padding: 30px 0 24px;
  }

  // .experts-filters__experience-title

  &__experience-title {
    color: var(--font-black);
    font-size: 17px;
    font-weight: 500;
    // line-height: 2.64; /* 264.706% */
    letter-spacing: -0.68px;
    margin-bottom: 19px;
  }

  // .experts-filters__body

  &__body {
  }

  // .experts-filters__border-item

  &__border-item {
    border-top: 1px solid #dbdbdb;
    padding: 22px 0;
  }

  // .experts-filters__button-accordion

  &__button-accordion {
    width: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  // .experts-filters__button-text

  &__button-text {
    color: var(--font-black);
    font-size: 17px;
    font-weight: 500;
    // line-height: 2.64; /* 264.706% */
    letter-spacing: -0.68px;
  }

  // .experts-filters__up-icon

  &__up-icon {
  }

  // .experts-filters__list

  &__list {
    display: flex;
    flex-direction: column;
    li {
      &:not(:last-child) {
        margin-bottom: 17px;
      }

      button {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.06; /* 106.667% */
        letter-spacing: -0.6px;
        color: var(--font-dark-grey);
        text-decoration: none;
        transition: all 0.3s ease 0s;

        &:hover {
          color: #007000;
          text-decoration: underline;
        }
      }
    }
  }
}

.experts-block-items {
  padding: 42px 42px 66px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  // .experts-block-items__top

  &__top {
    margin-bottom: 30px;
  }

  // .experts-block-items__title

  &__title {
    color: var(--font-black);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.52; /* 152.941% */
    letter-spacing: -0.68px;
    margin-bottom: 16px;
  }

  // .experts-block-items__post-it

  &__post-it {
  }

  // .experts-block-items__search

  &__search {
  }

  // .experts-block-items__filters

  &__filters {
  }
}
.experts-post-it {
  display: flex;
  gap: 20px;
  // .experts-post-it__item

  &__item {
    flex: 0 0 135px;
    padding: 50px 12px;
    height: 187px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;

    text-align: center;
    border-radius: 15px;
    border: 1px solid #5cd034;
    background-color: #fff;
  }

  // .experts-post-it__image

  &__image {
    color: var(--green-light);
    width: 32px;
    height: 32px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  // .experts-post-it__text

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.6px;
    color: var(--font-black);
  }
}
.catalog-search {
  position: relative;
  // .catalog-search__input

  &__input {
    width: 100%;
    height: 40px;
    padding: 14px 36px 10px 20px;
    border: 1px solid #aeaeb2;
    border-radius: 50px;
  }

  // .catalog-search__button-icon

  &__button-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    background-color: var(--green-light);
    svg {
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
    }
  }

  // .catalog-search__icon

  &__icon {
  }
}
.catalog-filters-items {
  padding: 19px 0 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  // .catalog-filterts-items__item

  &__item {
    padding: 10px 13px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 12px;
    font-weight: 400;
    // line-height: 30px; /* 250% */
    letter-spacing: -0.48px;
    color: #fff;

    border-radius: 50px;
    border: 1px solid var(--green-light);
    background-color: #5cd034;
  }
  &__remove-icon {
  }
  &__reset-button {
    color: var(--green-dark);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
  }
}

.catalog-pagination {
  display: flex;
  align-items: center;
  column-gap: 10px;
  &__prev {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  &__next {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
}
