.catalog-experts {
  padding: 51px 0 51px;
  // .catalog-experts__container-box

  &__container-box {
    max-width: 1120px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
  }

  // .catalog-experts__header

  &__header {
    margin-bottom: 34px;
  }

  // .catalog-experts__for-text

  &__for-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 300%; /* 300% */
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: var(--font-black);
  }

  // .catalog-experts__title

  &__title {
    font-family: var(--second-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 100%; /* 100% */
    letter-spacing: -0.8px;
    color: var(--font-black);
  }

  // .catalog-experts__items

  &__items {
    display: flex;
    column-gap: 30px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
  }

  // .catalog-experts__column-filters

  &__column-filters {
    flex: 0 0 25%;
  }

  // .catalog-experts__column-list

  &__column-list {
    flex: 1 1 auto;
    // max-width: 75%;
  }
}

.experts-filters {
  // .experts-filters__top

  &__top {
    padding: 55px 0;
    border: 1px solid #dbdbdb;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .experts-filters__user-image

  &__user-image {
    margin-bottom: 25px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .experts-filters__user-name

  &__user-name {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.05; /* 105.263% */
    letter-spacing: -0.76px;
    color: var(--font-black);
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  // .experts-filters__user-role

  &__user-role {
    color: var(--font-grey);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
    letter-spacing: -0.52px;
  }

  // .experts-filters__user-office

  &__user-office {
    margin-top: 9px;
    display: flex;
    align-items: center;

    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    color: var(--green-dark);

    svg {
      margin-left: 5px;
      width: 10px !important;
      height: 10px !important;
    }
  }

  // .experts-filters__experience

  &__experience {
    padding: 30px 0 24px;
  }

  // .experts-filters__experience-title

  &__experience-title {
    color: var(--font-black);
    font-size: 17px;
    font-weight: 500;
    line-height: 2.64; /* 264.706% */
    letter-spacing: -0.68px;
    margin-bottom: 13px;
  }

  // .experts-filters__body

  &__body {
  }

  // .experts-filters__border-item

  &__border-item {
    border-top: 1px solid #dbdbdb;
    padding: 22px 0;
  }

  // .experts-filters__button-accordion

  &__button-accordion {
    width: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  // .experts-filters__button-text

  &__button-text {
    color: var(--font-black);
    font-size: 17px;
    font-weight: 500;
    // line-height: 2.64; /* 264.706% */
    letter-spacing: -0.68px;
  }

  // .experts-filters__up-icon

  &__up-icon {
  }

  // .experts-filters__list

  &__list {
    display: flex;
    flex-direction: column;
    li {
      &:not(:last-child) {
        margin-bottom: 17px;
      }

      button {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.06; /* 106.667% */
        letter-spacing: -0.6px;
        color: var(--font-dark-grey);
        text-decoration: none;
        transition: all 0.3s ease 0s;

        &:hover {
          color: #007000;
          text-decoration: underline;
        }
      }
    }
  }
}

.experts-block-items {
  padding: 42px 42px 66px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  // .experts-block-items__top

  &__top {
    margin-bottom: 30px;
  }

  // .experts-block-items__title

  &__title {
    color: var(--font-black);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.52; /* 152.941% */
    letter-spacing: -0.68px;
    margin-bottom: 16px;
  }

  // .experts-block-items__post-it

  &__post-it {
  }

  // .experts-block-items__search

  &__search {
  }

  // .experts-block-items__filters

  &__filters {
  }
}
.experts-post-it {
  display: flex;
  gap: 20px;
  // .experts-post-it__item

  &__item {
    flex: 0 0 135px;
    padding: 50px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;

    text-align: center;
    border-radius: 15px;
    border: 1px solid #5cd034;
    background-color: #fff;
  }

  // .experts-post-it__image

  &__image {
    color: var(--green-light);
    width: 32px;
    height: 32px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  // .experts-post-it__text

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.6px;
    color: var(--font-black);
  }
}
.catalog-search {
  position: relative;
  // .catalog-search__input

  &__input {
    width: 100%;
    height: 40px;
    padding: 14px 36px 10px 20px;
    border: 1px solid #aeaeb2;
    border-radius: 50px;
  }

  // .catalog-search__button-icon

  &__button-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    background-color: var(--green-light);
    svg {
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
    }
  }

  // .catalog-search__icon

  &__icon {
  }
}
.catalog-filters-items {
  padding: 19px 0 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  // .catalog-filterts-items__item

  &__item {
    padding: 10px 13px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 12px;
    font-weight: 400;
    // line-height: 30px; /* 250% */
    letter-spacing: -0.48px;
    color: #fff;

    border-radius: 15px;
    border: 1px solid var(--green-light);
    background-color: #5cd034;
  }
  &__remove-icon {
  }
  &__reset-button {
    color: var(--green-dark);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
  }
}

// .experts-card {
//   display: block;
//   padding: 30px 0 34px;
//   border-top: 1px solid #dbdbdb;
//   overflow: hidden;
//   cursor: pointer;

//   // .experts-card__top

//   &__top {
//     display: flex;
//   }

//   // .experts-card___image

//   &__image {
//     margin-right: 20px;
//     display: flex;
//     align-items: flex-start;
//     img {
//       display: inline-flex;
//       width: 82px;
//       height: 82px;
//       max-width: 82px;
//       max-height: 82px;
//       overflow: hidden;
//       object-fit: cover;
//       vertical-align: middle;
//       border-radius: 50%;
//     }
//   }

//   // .experts-card__top-box

//   &__top-box {
//     flex: 1 1 auto;
//     margin-bottom: 19px;
//   }

//   // .experts-card__name

//   &__name {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     overflow: hidden;

//     font-size: 17px;
//     font-weight: 400;
//     line-height: 1.17; /* 117.647% */
//     letter-spacing: -0.68px;
//     color: var(--green-dark);
//     &:not(:last-child) {
//       margin-bottom: 7px;
//     }
//   }

//   // .experts-card__desc

//   &__desc {
//     font-size: 15px;
//     font-weight: 550;
//     line-height: 1.33; /* 133.333% */
//     letter-spacing: -0.6px;
//     color: var(--font-black);
//     margin-bottom: 12px;
//   }

//   // .experts-card__status-info

//   &__status-info {
//     display: flex;
//     align-items: center;
//     gap: 13px;
//   }

//   &__location {
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 1.66; /* 166.667% */
//     letter-spacing: -0.48px;
//     color: var(--font-grey);
//   }

//   &__status-now {
//     padding: 6px 10px 6px 13px;
//     display: flex;
//     align-items: center;
//     gap: 4px;

//     color: var(--blue-light);
//     text-align: center;
//     font-size: 12px;
//     font-weight: 500;
//     // line-height: 1.66; /* 166.667% */
//     letter-spacing: -0.48px;
//     border-radius: 50px;
//     border: 1px solid var(--Blue_light, #039df7);
//   }

//   // .experts-card__profile-stats

//   &__profile-stats {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     gap: 18px;
//     &:not(:last-child) {
//       margin-bottom: 24px;
//     }
//   }

//   // .experts-card__rate

//   &__rate {
//     color: var(--font-black);
//     text-align: right;
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 1.06; /* 106.667% */
//     letter-spacing: -0.6px;
//   }

//   // .experts-card__completed-projects

//   &__completed-projects {
//     color: var(--font-black);
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 1.06; /* 106.667% */
//     letter-spacing: -0.6px;
//   }

//   // .experts-card__rating

//   &__rating {
//     display: flex;
//     align-items: center;

//     color: var(--font-black);
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 1.06; /* 106.667% */
//     letter-spacing: -0.6px;

//     svg {
//       margin-right: 6px;
//       width: 14px;
//       height: 14px;
//     }
//   }

//   // .experts-card__level

//   &__level {
//     display: flex;
//     align-items: center;

//     color: var(--font-black);
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 1.06; /* 106.667% */
//     letter-spacing: -0.6px;

//     img {
//       display: block;
//       margin-right: 6px;
//       width: 14px;
//       height: 14px;
//     }
//   }

//   // .experts-card__text

//   &__text {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     overflow: hidden;

//     color: var(--font-dark-grey);
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 1.33; /* 133.333% */
//     letter-spacing: -0.3px;
//     &:not(:last-child) {
//       margin-bottom: 24px;
//     }
//   }

//   // .experts-card__skills

//   &__skills {
//     display: flex;
//     column-gap: 17px;
//     width: 567px;
//     overflow-x: auto;
//     scroll-behavior: smooth;

//     &::-webkit-scrollbar {
//       display: none;
//     }

//     -ms-overflow-style: none; /* IE and Edge */
//     scrollbar-width: none; /* Firefox */

//     div {
//       // overflow: hidden;
//       white-space: nowrap;
//       text-overflow: ellipsis;

//       color: var(--green-dark);
//       font-size: 12px;
//       font-weight: 400;
//       line-height: 1.66; /* 166.667% */
//       letter-spacing: -0.24px;
//     }
//   }

//   // .experts-card__bottom

//   &__bottom {
//     display: flex;
//     align-items: center;
//     gap: 20px;
//     margin-bottom: 21px;
//   }

//   // .experts-card__consultation

//   &__consultation {
//     display: flex;
//     align-items: center;
//     gap: 4px;

//     color: var(--font-black);
//     font-size: 13px;
//     font-weight: 400;
//     line-height: 2.76; /* 276.923% */
//     letter-spacing: 0.13px;

//     svg {
//       width: 20px;
//       height: 20px;
//     }
//   }

//   // .experts-card__consultation-price

//   &__consultation-price {
//     font-size: 13px;
//     font-weight: 500;
//     line-height: 1.23; /* 123.077% */
//     letter-spacing: -0.26px;
//     color: var(--font-black);
//   }

//   // .experts-card__consultation-time

//   &__consultation-time {
//     display: flex;
//     align-items: center;
//     gap: 6px;

//     font-size: 13px;
//     font-weight: 500;
//     // line-height: 1.23; /* 123.077% */
//     letter-spacing: -0.26px;
//     color: var(--font-black);

//     svg {
//       width: 14px;
//       height: 17px;
//     }
//   }

//   // .experts-card__actions

//   &__actions {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 10px;
//   }

//   // .experts-card__invite-button

//   &__invite-button {
//     padding: 0px 20px;

//     font-size: 13px;
//     font-weight: 500;
//     line-height: 2.69; /* 269.231% */
//     letter-spacing: -0.52px;
//     border-radius: 50px;
//     background-color: #24a322;
//     color: #fff;
//   }

//   // .experts-card__message-button

//   &__message-button {
//     padding: 0px 20px;

//     font-size: 13px;
//     font-weight: 500;
//     line-height: 2.69; /* 269.231% */
//     letter-spacing: -0.52px;
//     border-radius: 50px;
//     border: 2px solid #24a322;
//     color: #24a322;
//   }

//   // .experts-card__favorite-button

//   &__favorite-button {
//     padding: 10px;
//     border-radius: 50%;
//     border: 1px solid #d1d1d6;
//     color: var(--green-dark);

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     svg {
//       width: 18px !important;
//       height: 16px !important;
//     }
//   }
// }
