.button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid #d1d1d6;
}

.body {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
}
