@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('/fonts/helveticaneuecyr/helveticaneuecyr-bold.woff2')
      format('woff2'),
    url('/fonts/helveticaneuecyr/helveticaneuecyr-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('/fonts/helveticaneuecyr/helveticaneuecyr-italic.woff2')
      format('woff2'),
    url('/fonts/helveticaneuecyr/helveticaneuecyr-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('/fonts/helveticaneuecyr/helveticaneuecyr-roman.woff2')
      format('woff2'),
    url('/fonts/helveticaneuecyr/helveticaneuecyr-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('/fonts/helveticaneuecyr/helveticaneuecyr-roman.woff2')
      format('woff2'),
    url('/fonts/helveticaneuecyr/helveticaneuecyr-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-display: swap;
  src: url('/fonts/helveticaneuecyr/helveticaneuecyr-medium.woff2')
      format('woff2'),
    url('/fonts/helveticaneuecyr/helveticaneuecyr-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville Cyrillic LT Std';
  font-display: swap;
  src: url('/fonts/baskervillecyrltstd/baskerville-cyr-ltstd-bold.woff2')
      format('woff2'),
    url('/fonts/baskervillecyrltstd/baskerville-cyr-ltstd-bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  font-display: swap;
  src: url('/fonts/geologica/geologica-regular.woff2') format('woff2'),
    url('/fonts/geologica/geologica-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
